// Breakpoints
$xxs: 375px;
$xs: 576px;
$sm: 768px;
$md: 1024px;
$lg: 1400px;
$xl: 1920px;

$container-width: 1890px;

// Colors
$dark: rgb(23, 23, 24);
$light: rgb(229, 229, 229);
$gray: rgb(165, 164, 164);
$green: rgb(75, 150, 75);
$blue: #c4e9eb78;

// Fonts
$primary-font: 'Open Sans', sans-serif;
