<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect root to subpath used by Vite base -->
        <rule name="Root to /admin-panel/" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/admin-panel/" redirectType="Permanent" />
        </rule>

        <!-- SPA rewrite: any non-file under /admin-panel/ goes to index.html -->
        <rule name="Vue SPA under /admin-panel/" stopProcessing="true">
          <match url="^admin-panel/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/admin-panel/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Useful MIME types -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>

    <!-- Basic compression for text assets -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xhtml+xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
}</configuration>